@import '~materialize-css/dist/css/materialize.min.css';

.card__wraper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 30px;
}

.inputAdd {
    width: 20%;
    padding-right: 10px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding-left: 20px;
}